* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    width: 100%;
    /* align-items: center; */
    height: 100vh;

    .img {
        width: 50%;
        height: 100%;
    }

    .img img {
        width: 100%;
        height: 110%;
    }

    .box {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        .heading {
            width: 430px;
            /* background-color: aliceblue; */
            text-align: center;
        }

        .heading h1 {
            font-size: 36px;
            margin-bottom: 8px;
        }

        .heading p {
            font-size: 14px;
            opacity: 0.5;
            font-weight: 500;
        }

        .formulir {
            /* padding: 100px; */

            #form_login {
                /* background-color: aliceblue; */
                height: 460px;

                .form-control {
                    /* background-color: antiquewhite; */
                    margin-bottom: 8px;
                    font-size: 14px;
                    font-weight: 500;
                    height: 93px;
                    color: #2f2f2f;

                    #email,
                    #password {
                        padding: 16px;
                        border-radius: 8px;
                        border: 1px solid #dfe1e5;
                        margin-bottom: 4px;
                        margin-top: 8px;
                        width: 400px;
                    }

                    #error_email,
                    #error_password {
                        font-size: 12px;
                        color: #f00;
                        font-weight: 500;
                    }

                    .error {
                        outline: 1px solid #f00;
                    }
                }

                .remember {
                    align-items: center;
                    /* background-color: aliceblue; */
                    display: flex;
                    justify-content: space-between;

                    .checkbox {
                        display: flex;
                        font-size: 14px;
                        color: #2f2f2f;
                        align-items: center;
                        cursor: pointer;
                        gap: 8px;
                    }

                    .forgot {
                        font-size: 14px;
                    }

                    .forgot a {
                        color: #2f2f2f;
                        text-decoration: none;
                    }
                }

                #btn-login {
                    font-size: 14px;
                    font-weight: 600;
                    width: 430px;
                    padding: 16px;
                    background-color: #3b5d4f;
                    color: #fff;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    border: 1px solid #3b5d4f;
                    border-radius: 7px;
                    margin-top: 18px;
                    cursor: pointer;
                }

                .divider {
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    font-size: 12px;
                    opacity: 0.5;
                    margin: 30px 0;
                    /* background-color: antiquewhite; */

                }

                .divider hr {
                    width: 190px;
                }

                .btn-group {
                    display: flex;
                    justify-content: space-between;
                    gap: 14px;

                    #google {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        background-color: #fff;
                        padding: 8px 32px;
                        border: 1px solid #dfe1e5;
                        border-radius: 7px;
                        justify-content: center;
                        transition: 0.3s ease;
                        color: #2f2f2f;
                        font-size: 14px;
                        text-decoration: none;

                        .icon {
                            width: 24px;
                        }

                        .icon img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    #google:hover {
                        border: 1px solid #adadad;
                    }
                }

                .signup {
                    margin-top: 64px;
                    font-size: 14px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    gap: 4px;
                    /* background-color: aliceblue; */
                }

                .signup p {
                    opacity: 0.5;
                }

                .signup a {
                    text-decoration: none;
                    color: #3e936e;
                    transition: 0.3s ease-in-out;
                }

                .signup a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}