body{
    font-family:'Courier New', Courier, monospace
}
.Tentang{
    background-color: #e7e7e6;
    padding-bottom: 100px;
    padding-top: 540px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.paragraf{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
.Tentang h2{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: -450px;
    font-size: 40px;
}
header h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Warna dasar */
    color: #333;
    /* Nuansa lain dari warna dasar */
    border-color: #D9D9D9;
    justify-content: center;
    align-content: center;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
/* Reset margin dan padding untuk elemen */
body, ul {
    margin: 0;
    padding: 0;
}

/* Gaya dasar header */
header {
    background-color: #c5c9c5;
    padding: 20px;
    text-align: center;
}

/* Gaya dasar navigasi row */
.row-nav {
    background-color: #727272; /* Warna latar belakang navigasi row */
    padding: 10px 10px;
    text-align: center;
}
#a{
    background-color: transparent;
    border-right: none;
    border-top: none;
    border-left: none;
    transition: 0.3s;
    
}
#a:hover{
    background-color: #a3a3a3;
    border-radius: 10px;
    border:none;
}

#A{
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
}
#a:hover #A{
    padding-top: 10px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.3s;
}
#bycode{
    font-size: 0;
    text-align: center;
    padding-right: 0;
}
#bycode:hover{
    background-color:#727272;
    border-radius: 10px;
    transition: 0.4s;
    margin-left: 40px;
    margin-right: 40px;
}
#a:hover #bycode{
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
}

html {
    scroll-behavior: smooth;
}

#bydesc{
    font-size: 0px;
    text-align: center;
    padding-right: 0;
}
#bydesc:hover{
    background-color:#727272;
    border-radius: 10px;
    transition: 0.4s;
    margin-left: 15px;
    margin-right: 15px;

}
#a:hover #bydesc{
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
}

#Forum{
    font-size: 0px;
    text-align: center;
    padding-right: 0;
}
#Forum:hover{
    background-color:#727272;
    border-radius: 10px;
    transition: 0.4s;
    margin-left: 70px;
    margin-right: 70px;
}
#a:hover #Forum{
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;   
}
/*untuk scroll halus ke L1*/
[id="L1"]::before {
    content: "";
    display: block;
    height: 100px; /* Adjust the height as needed */
    margin: -100px 0 0; /* Match the height */
    visibility: hidden;
}

#d{
    background-color: transparent;
    border-right: none;
    border-top: none;
    border-left: none;
    transition: 0.3s;
}

#D{

    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: left;
}
#d:hover{
    background-color: #a3a3a3;
    border-radius: 10px;
    border:none;
}



/* Gaya untuk daftar menu */
.row-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Menggunakan flexbox untuk tata letak baris */
    justify-content: space-around; /* Menyusun menu dengan jarak yang sama */
}

/* Gaya untuk setiap item menu */
.row-nav li {
    padding: 10px 0;
}

/* Gaya untuk tautan menu */
.row-nav a {
    text-decoration: none;
    color: white; /* Warna teks tautan */
    transition: 0.3s; /* Efek transisi hover */
}

/* Gaya tautan saat dihover */
.row-nav a:hover {
    color: #f0f0f0; /* Warna teks saat dihover */
}

/* Gaya konten utama */
.content {
    padding: 20px;
}

/* Styling for the content */
.content {
    margin-left: 250px;
    padding: 20px;
}
.fitur{

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 10px;
}
.Lkami{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.L1{
    display: flex;
    justify-content: center;
    background-color: #a09f9f;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.InputC{
    justify-content:right;
    display: flex;
    background-color: #a09f9f;
    padding-bottom: 380px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 20px;
    text-align: center;

}
.InputC input{
    margin-right: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: transparent;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;    
}
.InputC input:hover{
    background-color: #c4c1c1; /* Warna latar belakang saat dihover */
    color: #fff; /* Warna teks saat dihover */
    border-radius: 10px;
}

.InputC button{
    background-color: #fff;
    color: #333;
    border: transparent;
    padding: 10px 50px;
    cursor: pointer;
    transition: background-color 0.3s; /* Efek transisi saat latar belakang berubah */
    border-radius: 10px;
}
.InputC button:hover{
    background-color: #02b5e2; /* Warna latar belakang saat dihover */
    color: #fff; /* Warna teks saat dihover */
    border-radius: 5px;
}
.InputC p {
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 10px;
}
.L2{
    display: flex;
    justify-content: center;
    background-color: #a09f9f;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.InputD{
    justify-content:right;
    display: flex;
    background-color: #a09f9f;
    padding-bottom: 380px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 20px;
    text-align: center;
    
}
.InputD input{
    margin-right: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: transparent;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.3s;
    
    
}
.InputD input:hover{
    background-color: #c4c1c1; /* Warna latar belakang saat dihover */
    color: #fff; /* Warna teks saat dihover */
    border-radius: 10px;
}
.InputD button{
    background-color: #fff;
    color: #333;
    border: transparent;
    padding: 10px 50px;
    cursor: pointer;
    transition: background-color 0.3s; /* Efek transisi saat latar belakang berubah */
    border-radius: 10px;

}
.InputD button:hover{
    background-color: #02b5e2; /* Warna latar belakang saat dihover */
    color: #fff; /* Warna teks saat dihover */
    border-radius: 5px;
}
.InputD p {
    margin-left: 20px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.L3{
    display: flex;
    justify-content: center;
    background-color: #a09f9f;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.Forumf{
    justify-content:right;
    display: flex;
    background-color: #a09f9f;
    padding-right: 20px;
    text-align: center;
}
.Kontakk{
    padding-top: 5px;
    background-color: #727272;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-bottom: 10px;
}
h3{
    text-align: center;
}
.Errorcode{
    background-color: #02b5e2;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: #727272;
    margin-left: 240px;
    margin-right: 240px;
}
.dll{
    background-color: #02b5e2;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: #727272;
    margin-left: 240px;
    margin-right: 240px;
}
.directx{
    background-color: #02b5e2;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: #727272;
    margin-left: 240px;
    margin-right: 240px;
}
.trending{
    padding-top: 20px;
    background-color: #a09f9f;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 10px;
}
.Forumf input{
    margin-right: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: transparent;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.3s;
    text-align: center;
}
.Forumf button{
    background-color: #fff;
    color: #333;
    border: transparent;
    padding: 10px 50px;
    cursor: pointer;
    transition: background-color 0.3s; /* Efek transisi saat latar belakang berubah */
    border-radius: 10px;
}
