li.item{
    display: inline;
    float: right;
    margin-right: 20px;
    padding-top: 18px;
    font-family: Arial, Helvetica, sans-serif;


}

a{
    color: white;
    text-decoration: none;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    padding-right: 170px;
    overflow: hidden;
    background-color: #3498DB;
    border-radius: 10px;

}

li.nav-atas{
    display: inline;
    float: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

li.nav-atas.kanan{
    float: right;
    font-family: Arial, Helvetica, sans-serif;

}

ul.nav-atas{
    background-color: #0074E4;
}

img.logo{
    width: 100px;
}

li.logo{
    float: left;
}

body{
    background-color: #F2F2F2;
}
img.bengkel{
    width: 767px;
    height: 432px;
    margin-left: 3%;
    margin-top: 3%;
    object-fit: cover;
    border-radius: 30px;
   
}

.container{
    display: flex;
}

p{
    flex: 1;
    width: auto;
    margin: 40px;
    margin-top:200px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-kategori{
    width: 130px;
    object-fit: contain;
    margin-left: 100px;
}
.k