html{
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Untuk Background */
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
}

/* Class logo */
.logo{
    float: left;
    /* text-align: center; */
    margin-left: 46px;
    padding: 0px 38px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px; /*Ukuran font*/
    font-weight: bold;
}
.logo a {
    text-decoration: none;
    color: #EC008C;

}

/* Class Navbar */
.nav{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 80%;
    width: 100%;
}
.nav ul{ 
    /* Ditaruh disebelah kanan */
    list-style: none;
    cursor: pointer;
    float: left;
    margin-left: 240px;
}
.nav ul{
    list-style: none;
    /* Ini rada error gakjelas */
    float: left;
    display: inline-block;
    color:darkcyan;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px 8px;
}

.nav p {
    color:#EC008C;
    font-weight: bolder;
}
/* Class Header */
.header{
    text-align: left;
    position: absolute;
    top: 38%;
    right: 65%;
    transform: translate(-50%, -50%);
}

.header h1{
    color: rgb(74, 147, 147);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 50px;
}

/* Untuk Food */
.header-food{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Untuk mengatur teks di tengah vertikal juga */
    /* border: #EC008C; */
}

.header-food h1{
    color: rgb(74, 147, 147);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 50;
}

.header-food span{
    color:#EC008C;
}
/* AkhirFood */

.header span{
    color:#EC008C;
}

.kotak-span {
    border: 1px solid #000; /* Garis tepi 1 piksel warna hitam */
    padding: 10px; /* Ruang dalam 10 piksel */
    text-align: left;
    position: absolute;
    top: 65%;
    right: 37%;
    transform: translate(-50%, -50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: center;
    border-radius: 10px 10px 10px 10px;
    border: none;
    color: aliceblue;
    background-color: #EC008C;
}

.new{
    float: right;
    margin-right: 140px;
    margin-top: 120px;
    
}

/* section makan */
.menu{
    display: grid;
    top: 65%;
    /* fungsinyaadalah untuk membagi tampilan menjadi 3 dalam 1 frame */
    grid-template-columns: repeat(3, 1fr); 
    padding: 30px 20px;
    /* untuk jarak */
    grid-column-gap: 25px;
    grid-row-gap: 80px;
}

.makanan img{
    top: 65%;
    width: 100%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    cursor: pointer;
}

.makanan h4{
    padding: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(33, 59, 59);
    font-weight: bolder;
    font-size: larger;
}

.makanan button{
    padding:  10px 60px; 
    border:none;
    cursor: pointer;
    background-color: #EC008C;
    color: white;
    border-radius: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
}

.makanan p{
    padding: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(33, 59, 59);
}

@media screen and (max-width: 1000px){
    .menu{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 768px){
    .menu{
        grid-template-columns: repeat(1,1fr);
    }
}

