/* Reset beberapa default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*  agar ukuran element tidak berubah ketika kita menambahkan border atau padding */
}

/* Styling navbar */
.navbar {
    position: fixed; /* Membuat navbar tetap (mengikuti scroll) */
    top: 0; /* Membuat navbar tetap di bagian atas */
    display: flex; 
    justify-content: space-between; 
    align-items: center;  
    padding: 20px 13%;
    width: 100%; /* Lebar navbar sesuai dengan lebar layar */
}

.logo {
    font-size: 24px; 
    font-weight: bold;
}

.nav-clean {
    list-style: none; /* Menghilangkan bullet list */
    display: flex;
}

.nav-clean li {
    margin-right: 20px;
}

.nav-clean a {
    text-decoration: none;
    font-weight: bold;
}


/* Ketika layar dibawah 769 maka css berikut akan di trigger */
@media (max-width: 768px) {
    .nav-clean {
        display: none;
    }
}

