body{
    background-color: #09232c;
    display: flex;
    width:auto;
    height: auto;
    /* border: white; */
    /* border-style: double; */
}

.batasan1{
    display: flex; /*agar bisa diatur tataletaknya */
    /* border: rgb(93, 197, 119);  */
    /* border-style: double; */
    width: 5%;
    height: 100%;
    justify-content: center; /*mengatur agar kontennya ditengah*/
    align-items: center;
    padding :0% 0% 0% 1.5%;
    
    /* color: white; */
}

.batasan1 .fitur1 {
    /* margin: auto 0px auto 30px; */
    background-color: rgb(1, 4, 6);
    /* color: white; */
    border-radius: 30px; /*biar melengkung*/
    /* border: white; */
    border-style: double;
    display: flex; /*biar bisa di atur jadi wajib*/
    flex-direction: column;
    justify-content: center; /*mengatur agar kontennya ditengah*/
    align-items: center;
    /* width: 100%; */
    /* height: 70%; */
    

}

.batasan1 .fitur1 img{
    width: 60%;
    height: auto;
    /* border: white; */
    /* border-style: double; */
    margin: 30% 10% 0% 10%; /*format : atas, kanan, bawah, kiri (AKBR)*/
    /* padding: 5px 7px 10px 6px; */
}
.batasan1 .fitur1 p{
    color: whitesmoke;
    /* border: rgb(255, 255, 255); */
    /* border-style: double; */
    margin-top: 0%;
    font-size: 80%;
}
.batasan1 .fitur1 .lphr{
    width: 50%;
}


.batasan1 .fitur1 button{
    
    border: 2px solid rgba(0, 0, 0, 0);
    background: 0%;
    border-radius: 60px;
    weight: 5%;
    height: auto;
    margin: 0% 10% 0% 10%;
}
.batasan1 .fitur1 .jrkats{
    margin-top: 20%;
}
.batasan1 .fitur1 .jrkbwh{
    margin-bottom: 20%;
}

.batasan1 .fitur1 button:hover{
    background: #09232c;
    border: #09232c;
    transition: 0.8s ease;
}

.batasan2{
    /* border: yellow; */
    /* border-style: double; */
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* center; mengatur agar kontennya ditengah */
    align-items: center;
}
.konten{
    /* border: rgb(107, 229, 213);
    border-style: double; */
    display: flex;
    width: 95%;
    height: 90%;
    /* justify-content: center; mengatur agar kontennya ditengah */
    /* align-items: center; */
    background-color: white;
    box-shadow: 10px 10px 8px 0px black;
}
.menu{
    border: rgb(0, 0, 0);
    border-style: double;
    width:49%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: rgb(174, 1, 1);
    border-style: double;
    align-items: center;

}
.menu .menu1,.menu .menu2{
    display: flex;
    flex-direction: row;
    border: rgb(30, 0, 104);
    border-style: double;
    flex-direction: column;
}
.menu1{
    /* align-items: center; */
    width: 99%;
    height: 9%;
}
.menu p{
    margin: auto auto auto auto;
}
.menu2{
    width: 99%;
    height: auto;
    margin: 2%;
    border: rgb(30, 0, 104);
    border-style: double;
    display: flex;
    overflow: auto;
    
    

}
.menu2 #imgrow img{
    width: 22%;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;

}
#row{
    border: rgb(30, 0, 104);
    border-style: double;
}
#textrow{
    display: flex;
    justify-content: space-between;
}

.struk{
    border: rgb(0, 0, 0);
    border-style: double;
    display: flex;
    width:49%;
    height: auto;
    flex-direction: column;
}

.struk1{
    width: 100%;
    height: 9%;
    border: rgb(0, 0, 0);
    border-style: double;
    display: flex;
    align-items: center;
    text-align: center;
}
.struk1 p,.struk3 p{
    margin: auto auto auto auto;
    align-items: center;
}
.struk2{
    width: 100%;
    height: 71%;
    border: rgb(0, 0, 0);
    border-style: double;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.struk2 p, .struk2 div{
    
    margin: 0% 0% 0% 10%;
    font-size: 200%;
}
.struk2 #indiv{
    border: rgb(0, 0, 0);
    border-style: double;
    width: 80%;
    display: flex;
    font-size: 100%;

}
#indiv #iindiv{
    width: 100%;
    height: 100%;
    font-size: 100%;
    border: #09232c;
    border-style: double;
    margin-left: 0%;
}
#iindiv p {
    width: 50%;
}
#indiv #lindiv{
    text-align: left;
    border: #09232c;
    border-style: double;

}


.struk3{
    width: 100%;
    height: 20%;
    border: rgb(0, 0, 0);
    border-style: double;
    display: flex;
}
.struk3 button{
    margin: auto auto auto auto;
}






