

/* body{
    width: 30%;
    height: 5%;
    background-color: white;
} */
/* .content{
    padding: %;
    color: yellow;
    height: 50%;
    z-index: 2;
}

.content p{
    padding: 90%;
    position: relative;
    color: #123545;
}
.navbar{

    padding: 5%;
    background-color: #123545;
    position: relative;
    left: -95%;
    height: 79%;
    z-index: 1;
} */

body{
    background-color: yellow;
    height: 500px;
    width: 95%;
    margin: 0;
}

.innerBody {
    display: flex;
}

/* .navbar{
    display: flex;
    padding: 5%;
    background-color: #123545;
    position: relative;
    height: 76%;
    z-index: 1;
    color: black;
} */

.navbar{
    z-index: 1;
    width: 10%;
    height: 100vh;
    background-color: #126412;
}
.content{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;
    padding-top: 10%;
    position: relative;
    background-color: white;
    z-index: 2;
    
}


