body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #007BFF;
}

.iphone-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.iphone-item {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
    transition: border-color 0.5s;
}

.iphone-item:hover {
    border-color: #007BFF;
    transform: scale(1.05);
}

.iphone-item img {
    max-width: 100%;
    height: auto;
    display: block;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.iphone-name {
    margin: 10px 0;
    color: #333;
    font-weight: bold;
}

.iphone-stock {
    margin: 5px 0;
    color: #777;
}

.back-button {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #0056b3;
}

.buy-button {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #ff000d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.buy-button:hover {
    background-color: #aa010a;
}

.keranjang-button {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #00ff0d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.keranjang-button:hover {
    background-color: #037e0a;
}

button {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}