body {
    font-family: Arial, sans-serif;
    background-image: url('bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    animation: idleBackground 40s infinite alternate; 
}

@keyframes idleBackground {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center 25%;
    }
}

header {
    background-color: #ccc; 
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    opacity: 1; 
    transition: opacity 0.5s;
}

.header-fade {
    opacity: 0;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
    line-height: 1.6;
    font-size: 18px;
}

.button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555;
}
