/* INDEX CSS */
body {
    background-image: url(/1201220001_ageng/assets/36927.jpg);
    background-size: 2000px;
}

.logo img {
    max-width: 100%;
    max-height: 70px;
    margin-left: 20px;
}

.navbar {
    align-items: center;
    display: flex;
    /* background-color: blue; */
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 20px;
}

.navbar a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 20px;
}

header {
    padding-top: 90px;
    padding-bottom: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px #fff;
}

.mainIndex {
    padding: 20px;
    margin: 10px;
    /* border: 2px solid #333;
    border-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #D2E0FB; */
    text-align: center;
}

.hana {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.hana a {
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.hana .hiu1,
.hana .atlantis,
.hana .hiu,
.hana .roller,
.hana .seaworld {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #000;
}

.hana img {
    max-width: 1000px;
    max-height: 400px;
    border-radius: 10px;
}

/* LOGIN CSS */
.divLogin {
    padding: 30px;
    margin-left: 400px;
    margin-right: 400px;
    border: 2px solid #333;
    border-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* background-color: #D2E0FB; */
    background-color: rgba(67, 67, 155, 0.603);
    text-align: center;
    color: whitesmoke;
}