*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat";
    background-color: #161616;
}
header nav{
    display: flex;
    padding: 20px 10%;
    align-items: center;
    justify-content: space-between;
    background-color: #040404;
}
header nav .logo{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}
header nav ul{
    gap: 50px;
    display: flex;
    list-style-type: none;
}
header nav ul li a{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

header nav ul li a:hover{
    text-decoration: underline;
}

main .dashboard{
    background-color: #161616;
    height: 500px;
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
}

main .dashboard .landing {
    align-items: center;
    display: flex;
    /* background-color: seagreen; */
}

main .dashboard .landing .text {
    /* background-color: #ff0000; */
    color: #fff;
    width: 500px;
}

main .dashboard .landing .text h1{
    color: #cdcdcd;
}

main .dashboard .landing .text p {
margin-top: 10px;
 opacity: 30%;
 font-size:  14px;
}

main .dashboard img{
    scale: 100%;
}

.mainborder{
    background-color: #202020;
    height: 70px;
    width: 100%;
}