* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('Roti.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

nav h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav a {
    
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}
nav a:hover {
    color: #ff8c00; 
}


header {
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

header h1 {
    font-size: 10rem;
}
.btn-signin {
    display: inline-block;
    padding: 20px 40px;
    background-color: #ff0000; 
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn-signin:hover {
    background-color: #cc00ff;
}