*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 12px;
    padding: 15px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #D3CEDF;
}
.wrap{
    width: 1100px;
    margin: auto;
    position: relative;
}
.logo a{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Chloe';
    color:#4682A9;
    float: left;
}
.menu{
    float: right;
}

nav ul {
    list-style: none;
    padding: 15px;
    margin: 12px;
    display: flex;
    font-size: 25px;
    font-family: Open sans-serif;
    
  }
nav li{
    margin-right: 20px;
}
nav a {
    color: #4682A9;
    font-weight: bold;
    transition: color 0.3s ease;
  }
.kolom{
    font-size: 25px;
    font-family: open sans sans-serif;
    float: right;
    margin-top: -10px;
    color: #4682A9;
}
.deskripsi{
    margin-top: -350px;
    margin-right: 125px;
    
}
   
