<<<<<<< HEAD
/* universal  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #36D1DC, #5B86E5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px 0;
    text-align: center;
}

.service {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
}
=======
/* universal  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #36D1DC, #5B86E5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px 0;
    text-align: center;
}

.service {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
}
>>>>>>> 82322d3c277c9db7dfe93bff93951c9fdd80db2a
