* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  margin: auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: orange;
}

.navbar ul li {
  display: inline-block;
  margin: 0 20px;
  padding: 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: black;
}

.content-home {
  text-align: center;
  color: white;
  padding-top: 100px;
}

.content-about {
  text-align: center;
  color: white;
  padding-top: 100px;
}

.content-home h1,
.content-about h1 {
  font-size: 70px;
}

.content-home p,
.content-about p {
  font-weight: 10;
}

.home {
  background-color: black;
  height: 590px;
}

.about {
  background-image: url(img/background.jpg);
  height: 662px;
  background-size: cover;
}

footer {
  background-color: black;
}

footer p {
  color: white;
  text-align: center;
}
.gambarForm {
  background-color: black;
  color: white;
  height: 430px;
  width: 400px;
  border-radius: 20px;
  background-image: url(img/gambarform.jpg);
  background-size: cover;
  padding: 20px;
  margin-top: 70px;
  float: left;
  margin-left: 200px;
}
.form {
  background-color: black;
  color: white;
  height: 430px;
  width: 600px;
  margin-left: 600px;
  margin-top: 70px;
  border-radius: 20px;
  padding: 20px;
}

.form h1 {
  text-align: center;
  margin-bottom: 40px;
}

.form input {
  width: 400px;
  border-radius: 5px;
  margin-bottom: 18px;
  height: 25px;
}

.form input:focus {
  background-color: white;
}

.form button {
  background-color: orange;
  padding: 10px;
  border-radius: 20px;
  color: black;
  width: 100px;
}

.form .label {
  margin-left: 100px;
}
.form .input {
  text-align: center;
}

.form .button {
  text-align: center;
}
