/* 
60 - #f0f2f1
30 - #3b5d4f
10 - #f8bf28 
*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    font-family: "Inter",sans-serif;
}
nav{
    display: flex;
    padding: 20px 10%;
    align-items: center;
    background-color: #3b5d4f;
    justify-content: space-between;
}
nav h1{
    color: #fff;
    font-size: 24px;
    font-family: "Poppins";
}

nav ul {
    gap: 45px;
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

nav ul .menu {
    display: flex;
    gap: 40px;
    /* background-color: aqua; */
}
nav ul .menu li a:not(#active){
    opacity: 0.5;
}


nav ul .pic {
    display: flex;
    gap: 40px;
    /* background-color: aqua; */
}

/* main */

main .hero{
    padding: 20px 10%;
    display: flex;
    height: 55vh;
    align-items: center;
    background-color: #3b5d4f;
    justify-content: space-between;
}

main .hero .text{
    color: #fff;
    max-width: 400px;
    /* background-color: #f8bf28; */
}

main .hero .text h1{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
}
main .hero .text p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}
main .hero img{
    /* background-color: #f8bf28; */
    position: absolute;
    z-index: 2;
    width: 700px;
    left:550px;
    top: 80px;
}