/*BODY*/
*{
	margin:0;
	padding:0;
	font-family: time new roman;
}
.navigasi{
	background-color: #DFF5F6;
	background-image: linear-gradient(90deg, #DFF5F6 30%,#2ADDEF);
	width:100%;
	height: 100px;
	
}


/*LOGO*/
.logo{
	float: left;
}


/*MENU*/
.menu{
	margin-left: 1000x;
	padding-top: 35px;
	cursor: pointer;

}
.menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.menu ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    position: relative; 
}
.menu ul li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #EF2894;
    transition: width 0.3s; 
}
.menu ul li a:hover::after {
    width: 100%;
}
.menu ul li::after {
    content: '';
    height: 3px;
    width: 100%;
    background: transparent;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.menu ul li a:hover {
    width: 100%;
    color: #EF2894;
    font-style: italic;
}



/* SUBMENU UNTUK FORM SIGN UP*/

.submenudua-content {
    display: none; /*Untuk menyembunyikan menu*/
    position: absolute;
    background-image: linear-gradient(90deg, #DFF5F6 30%,#2ADDEF);
    box-shadow: 0 95px 85px rgba(0, 0, 0, 0.1);
    z-index: 3;
    width: 210px; /*MENGATUR LEBAR FORM*/
    height: 350px; /*MENGATUR TINGGI FORM*/
    padding: 35px; /*spasi atau ruang diantara konten dan border. */
}
.submenuakun:hover .submenudua-content {
    display: block; /*ANIMASI KE MENU YNG INGIN DI KLIK*/
}
.submenudua-content label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}
.submenudua-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.submenudua-content button {
    width: 100%;
    padding: 10px;
    background-color: #2ADDEF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.submenudua-content button:hover {
    background-color: #1CBAC8;
}
/* SUBMENU UNTUK SHPING*/
.submenuduabr-content {
    display: none; /*Untuk menyembunyikan menu*/
    position: absolute;
    background-image: linear-gradient(90deg, #DFF5F6 30%,#2ADDEF);
    box-shadow: 0 95px 85px rgba(0, 0, 0, 0.1);
    z-index: 3;
    width: 250px; /*MENGATUR LEBAR FORM*/
    height: 150px; /*MENGATUR TINGGI FORM*/
    padding: 35px; /*spasi atau ruang diantara konten dan border. */
}
.submenuakunbr:hover .submenuduabr-content {
    display: block; /*ANIMASI KE MENU YNG INGIN DI KLIK*/
}
.submenuduabr-content label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}
.submenuduabr-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.submenuduabr-content button {
    width: 100%;
    padding: 10px;
    background-color: #2ADDEF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.submenuduabr-content button:hover {
    background-color: #1CBAC8;
}

/* SUBMENU UNTUK SERVICE DAN SHOP */

.submenu-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(90deg, #DFF5F6 30%,#2ADDEF);
    box-shadow: 0 75px 85px rgba(0, 0, 0, 0.1);
    z-index: 1;
    list-style: none;
    padding: 0;
}

.submenu:hover .submenu-content {
    display: block;
}


/* SEARCH BOX */
.search-box {
    margin-left: 20px;
}
.search-box form {
    display: flex;
    align-items: center;
}
.search-box input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
}
.search-box button {
    background-color: #EF2894;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}



/*KUCING GAMBAR*/
.kucing {
	background-color: #DFF5F6;
	height: 750px;
	text-align: center;
}
.kucing h1{
    position: absolute;
    top: 30%;
    left: 4%;
    font-size: 55px;
    color: #000000;
}
.kucing h1 span{
    color: #FF66C4;
}
.kucing p{
    width: 650px;
    position: absolute;
    top: 50%;
    left: 4%;
    line-height: 26px;
    text-align: justify;
}


.background_image img{
    width: 650px;
    position: absolute;
    top: 25%;
    left: 47%;
    margin-left: 25px;
}


/*TOMBOL BACA SELANGKAPNYA ATAU BELI SEKARANG*/
.btn{
    position: absolute;
    top: 77%;
    left: 38px;
    width: 340px;
    display: flex;
	/* kenapa pake flex? karena parentnya pada div menu jadi contentnya akan menyesuaikan parent menjadi datar*/
    align-items: center;
    justify-content: space-around;
}
.btn .read{
    background: #7CEEF4;
    color: Black;
	font-family: Time New Roman bold;
    cursor: pointer;
}
.btn p{
    padding: 10px 25px;
    background: none;
    border: 2px solid #b36982;
    cursor: pointer;
}


/*ABOUT KUCING CATEGORY*/
.about{
	width: 100%;
    background-color: #DFF5F6;
	background-size:cover;
	min-height: 100px;
}
.about .box{
    width: 100%;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .box .cards{
    width: 330px;
    height: auto;
    padding: 5px 10px;
    margin: 2px;
    background-image: linear-gradient(90deg, #DFF5F6 30%,#2ADDEF);
    border: 1px solid gainsboro;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}
.about .box .cards:hover{
    box-shadow: 3px 5px 20px rgba(0,0,0,0.3);
    transform: scale(1.1);
    border-radius: 4px;
}


/*GAMBAR KUCING DLM KOTAK*/
.about .miaw p{
    text-align: center;
    margin: 30px 0;
    color: gray;
    font-size: 25px;
	
}
.about .miaw_box{
    width: 100%;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-gap: 30px;
}
.about .miaw_box .miaw_card{
    background: #5AA3F8;
    width: 350px;
	margin: 55px;
    padding: 25px 25px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}
.about .miaw_box .miaw_card:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}
.about .miaw.miaw_box img{
    width: 80px;
    cursor: pointer;
    transition: 0.3s;
}
.about .miaw .miaw_box img:hover{
    transform: scale(1.1);
}
.about .miaw_box .miaw_card h1{
    font-size: 25px;
    color: white;
    margin: 15px 0;
}
.about .miaw_box .miaw_card p{
    color: white;
    margin: 10px 0;
    font-size: 17px;
}

/* ABOUT CAT UNTUK SERVICE*/
.about hr{
    height: 4px;
    background: #d98ca5;
    border-radius: 5px;
    margin: 20px 20px;
}
.about .miaw h1{
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}
.about .miaw p{
    text-align: center;
    margin: 35px 0;
    color: white;
    font-size: 25px;
}
.about .miaw_box{
    width: 100%;
    display: grid;
	/* Elemen akan ditampilkan sebagai wadah grid*/
    width: 100%;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-gap: 2px;/*Menetapkan jarak 2 piksel antara item kisi (baris dan kolom)*/
}

.about .miaw box .miaw_card{
    background: #9d9d9d;
    width: 350px;
    padding: 10px 10px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}
.about .miaw_box .miaw_card:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}
.about .miaw .miaw_box img{
    width: 250px;
    cursor: pointer;
    transition: 0.3s;
}
.about .miaw .miaw_box img:hover{
    transform: scale(1.1);
}
.about .miaw_box .miaw_card h1{
    font-size: 35px;
    color: gainsboro;
    margin: 15px 0;
}
.about .miaw_box .miaw_card p{
    color: white;
    margin: 3px 0;
    font-size: 17px;
}




/*produk*/
.produk {
  background-image: linear-gradient(90deg, #DFF5F6 30%,#2ADDEF);
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  max-width: 50%;
  margin: 5px auto;
  padding: 10px;
  box-shadow: #333;
}

.produk .cards {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.produk .cards:hover{
  transform: scale(1.05);
}

.produk .cards img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.produk .cards p {
  margin: 0;
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #70cbff;
  border-radius: 20px;
}



/*contact*/
.contact{
	width: 100%;
    background-color: #DFF5F6;
	
}
.contact hr{
    height: 4px;
    background: #d98ca5;
    border-radius: 5px;
    margin: 20px 20px;
}
.contact .box{
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .box .card{
    width: 330px;
    height: auto;
    padding: 5px 10px;
    margin: 2px;
    background: #71E0F8;
    border: 1px solid abuabu;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}
.contact .box .card:hover{
    box-shadow: 3px 5px 20px rgba(0,0,0,0.3);
    transform: scale(1.1);
    border-radius: 4px;
}

footer {
    background-image: linear-gradient(90deg, #DFF5F6 30%,#2ADDEF);
    color: Black;
    text-align: center;
    padding: 10px 0;
}



/*MENU SELANJUTNYA SERVICE*/

/*ABOUT KUCING CATEGORY*/
.abouttwo{
	width: 100%;
    background-color: #DFF5F6;
	background-size:cover;
	min-height: 100px;
}
.abouttwo .box{
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
	color: Black;
	text-align:justify;
	
}
.abouttwo .box .cards{
    width: 330px;
    height: auto;
    padding: 5px 10px;
    margin: 2px;
    background-image: linear-gradient(90deg, #cdffd8 30%,#94b9ff);
    border: 1px solid gainsboro;
   
}

/*DESKRIPSI*/
.description {
    text-align: center;
    margin: 75px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.description h2 {
    color: #333;
}
.description h1 {
    color: #ff6600;
}
.description span {
    font-weight: bold;
}
.description p {
    color: #555;
    line-height: 1.6;
}

/*COVER PADA MIAW HOTEL*/
.background_imageone {
    background-image: url('images/hotel3.png');
    background-size: cover; /* Menyesuaikan gambar agar selalu menutupi seluruh elemen */
    background-position: center; /* Posisi gambar di tengah elemen */
    height: 900px; /* Sesuaikan tinggi sesuai kebutuhan */
    width: 100%; /* Lebar 100% untuk menutupi lebar elemen */
    border-radius: 8px; /* Opsi: tambahkan sudut melengkung jika diinginkan */
    overflow: hidden; /* Memastikan gambar yang lebih besar dari elemen tetap di dalamnya */
}

/*logo 1 untuk menu miawcare*/
.logoone {
  text-align: center;
  padding: 35px;
  background-color:white ; 
  margin-bottom: 10px;
}
.img {
  border-radius: 90%; 
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); 
}
h2 {
  font-family: 'Arial', time new roman; 
  color: #333; 
  margin-top: 20px; 
}
h2 span {
  color: #e44d26; 
}

h1 {
  font-family: 'Arial', time new roman;
  color: #333; 
  margin-top: 20px; 
}
h1 span {
  color: #418BED; 
}

/*container menu miaw care*/
    .container {
      display: flex;
      align-items: center;
    }
    .icon img {/*mengatur icon */
      width: 89px;
      height: 89px;
    }
    .card-title {
      font-size: 22px; 
      margin-left: 29px;
    }
	

	
/* .hallo class Gambar Pada miaw care dan miaw playground*/
.hallo2 {
    background-color: white;
    height: 950px;
    text-align: center;
}
.hallo2 .background_image img {
    width: 1225px;
	height: 650px;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 25px;
}



/*table pada miaw care dan playground*/
.table {
  background-color: #aee2ff;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: #333;
}
.table h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}
.table table {
  font-family: "Montserrat", sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.table th, td {
  font-family: "Montserrat", sans-serif;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  background-color: white;
}
.table th {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
}

footer {
    background-image: linear-gradient(90deg, #DFF5F6 30%,#2ADDEF);
    color: Black;
    text-align: center;
    padding: 10px 0;
}


.tabletwo {
  background-color: #aee2ff;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: #333;
}
.tabletwo h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}
.tabletwo table {
  font-family: "Montserrat", sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.tabletwo th, td {
  font-family: "Montserrat", sans-serif;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  background-color: white;
}
.tabletwo th {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
}

footer {
    background-image: linear-gradient(90deg, #DFF5F6 30%,#2ADDEF);
    color: Black;
    text-align: center;
    padding: 10px 0;
}

/*REGRISTASI PADA MIAW HOTEL,CARE, DAN PLAYGROUD*/
.registrasi h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
.registrasi .button {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  display: inline-block;
  border-radius: 30px;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  transition: background-color 0.3s, transform 0.2s;
}
.registrasi .button:hover {
	background-image: linear-gradient(90deg, #DFF5F6 30%,#2ADDEF);
	transform: scale(1.05);
}


/* MENU LOGIN*/

/*card*/
.card {
  background-image: linear-gradient(90deg, #DFF5F6 30%,#2ADDEF);
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: #333;
  padding-bottom: -80px;
}
.card .isi h2 {
  font-family: "Montserrat", time new roman;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding-left: 120px;
}
.card .isi .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 120px;
}
.card .isi .form .input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.card .isi .form .input label {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-bottom: 5px; 
  text-align: center;
}
.card .isi .form .input input {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  border-radius: 30px;
  padding: 10px;
  width: 120%; 
  max-width: none; 
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
}


/*button*/
.formbutton {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}
.formbutton button a{
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #ffffff;
}
.formbutton button {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #0090e1;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}
.formbutton button:hover {
  background-color: #0079b1;
  transform: scale(1.05);
}



/*MENU REGISTER*/

/*card*/
.card {
  background-color: #aee2ff;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: #333;
  padding-bottom: -80px;
}
.card .isi h2 {
  font-family: "Montserrat", time new roman;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding-left: 120px;
}
.card .isi .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 110px;
}
.card .isi .form .input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.card .isi .form .input label {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-bottom: 5px; 
  text-align: center;
}
.card .isi .form .input input {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  border-radius: 30px;
  padding: 10px;
  width: 120%; 
  max-width: none; 
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

/*button*/
.formbutton {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.formbutton button {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #0090e1;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.formbutton a {
  text-decoration: none;
  color: white;
}

.formbutton button:hover {
  background-color: #0079b1;
  transform: scale(1.05);
}




/*MENU SELANJUTNYA SHOP*/

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  left: 0px;
  width: 250px;
  height: 100%;
  background-color: #DFF5F6;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: black;
  line-height: 70px;
  text-align: center;
  background-image: linear-gradient(90deg, #DFF5F6 30%,#2ADDEF);
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: black;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 250px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: 195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked.sidebar{
  left: -250px;
}
#check:checked label #btn{
  left: 40px;
  opacity: 1;
  pointer-events: auto;
}
#check:checked label #cancel{
  left: -195px;
}
#check:checked section{
  margin-left: 0px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
  margin-left: -250px;
}


/* Cards */
.cards {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    /* Center the card horizontally */
    margin-left: auto;
    margin-right: auto;
}
.cards:hover {
    transform: scale(1.05);
}
.cards p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.cards img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.cards p:last-child {
    color: #EF2894;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}


/*card*/

.card {
  background-color: #aee2ff;
  border-radius: 15px; /* Sesuaikan radius batas untuk radius sudut yang lebih kecil */
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 500px; /* Sesuaikan lebar maksimal sesuai kebutuhan */
  max-height: 465px; /* Sesuaikan ketinggian maksimal sesuai kebutuhan */
  margin: 20px auto; /* Sesuaikan margin sesuai kebutuhan */
  padding: 10px; /*Sesuaikan bantalan sesuai kebutuhan */
}
.card .isian img {
  height: 20%; /* Sesuaikan ketinggian sesuai kebutuhan */
  align-items: center;
  padding-left: 40%; /* Sesuaikan padding-kiri sesuai kebutuhan */
}
.card .isian h2 {
  font-family: "Montserrat", TIME NEW ROMANS;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Sesuaikan ukuran font sesuai kebutuhan */
}
.card .isian .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .isian .form .input,
.card .isian .form .inputLong {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0; /* Sesuaikan margin sesuai kebutuhan */
}
.card .isian .form .input label,
.card .isian .form .inputLong label {
  font-family: "Montserrat", time new romas;
  font-size: 14px; /* Sesuaikan ukuran font sesuai kebutuhan */
  margin-bottom: 3px; 
  text-align: center;
}
.card .isian .form .input input,
.card .isian .form .inputLong input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px; 
  border-radius: 15px; 
  padding: 8px; 
  width: 100%; 
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
}
.card .isian .closeButton button:hover {
  background-color: #e05252; 
}



/*Logout*/
.logoutButton {
  text-align: center;
  margin-top: 20px; 
.logoutButton button a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #000000;
}
.logoutButton button {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #ffe600;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}
.logoutButton button:hover {
  background-color: #ff5151;
  transform: scale(1.05);
}
.logoutButton button a:hover {
  color: white;
  font-weight: bold;
}