body{
    margin: 0;
}

.navbar{
    background-color: black;    
    display: flex;
    width: 100%;

}

.navbar img{
    float: left !;
    display: block;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 200%;
    max-height: 60px;
}

.navbar a{
    display: block;
    float: left;
    text-align: center;
    color: antiquewhite;
    padding: 40px 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.background img{  
    position: absolute;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    margin-top: 20px;

}

.reserve{
    border: red solid;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    background-color: white;
    z-index: 2;
    top: 75%;
    left: 38%;
    text-align: center;
    font-weight: bold;

}
.reserve a{
    color: red;
    
}

.divlogin{
    background-color: antiquewhite;
    width: 500px;
    border: 1px solid black;
    margin-right: 25%;
    margin-left: 30%;
    margin-top: 5%;
    padding: 20px ;
    text-align: center;
    border-radius: 30px;
    
}

.divlogin label {
  font-size: larger;
}

.divlogin input {
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    font-size: medium;
    padding: 10px;

}

.divregis{
    background-color: antiquewhite;
    width: 500px;
    border: 1px solid black;
    margin-right: 25%;
    margin-left: 30%;
    margin-top: 1%;
    padding: 20px ;
    text-align: center;
    border-radius: 30px;
}

.divregis input{
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    font-size: medium;
    padding: 10px;
}

.divregis button {
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    font-size: medium;
    padding: 10px;

}


