h1 {
    color: blue;
}
h2 {
    color: black;
}
h3 {
    color: green;
}

.navbar{
    background-color: black;    
    display: flex;
    overflow: hidden;
    width: 100%;
    border-radius: 20px;
    box-shadow: black;
}

.navbar img{
    float: left;
    display: block;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 200%;
    max-height: 60px;
}

.navbar a{
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    color: antiquewhite;
    padding: 40px 30px;
    font-size: 20px;
}

.background {
    text-align: center;

}
.background img {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 100%;
    height: auto;

}

.desc{
 font-size: medium;
 text-align: center;
}

.centered-button {
    position: relative;
    text-align: center;
   
}

.center-button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: #fff;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.divlogin{
    background-color: antiquewhite;
    width: 500px;
    border: 1px solid black;
    margin-right: 25%;
    margin-left: 30%;
    margin-top: 5%;
    padding: 20px ;
    text-align: center;
    border-radius: 30px;
    
}

.divlogin div label {
  
}

.divlogin div input {
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    font-size: medium;
    padding: 10px;
   
    


}
