*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    font-family: 'Unifont';
    background-color: rgb(17 24 39 );
}

a{
    text-decoration: none;
}

.back button{
    color: rgb(0, 0, 0);
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 3px;
    margin: 10px;
    background-color: rgb(69 129 0 );
}

.content-utama{
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-login{
    box-shadow: 5px 5px 20px rgba(122, 122, 122, 0.147);

    background-color: rgb(31 41 55 );   
    border-radius: 5px;
    width: 400px;
    height: 440px;
    margin-top: 150px;
    color: rgb(108, 123, 138);
    border: 1px solid rgb(108, 123, 138);
    padding: 50px 50px;

    justify-content: center;
    
}

.form-login h2{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(217 249 157);
}

.form-login label{
    display: block;
    text-align: left;
    color: rgb(108, 123, 138);
    margin-bottom: 5px;
}

.form-login input{
    width: 100%;
     padding: 7px;
    border-radius: 2px;
     border: 1px solid rgb(108, 123, 138);
     background-color: rgb(31 41 55 );
     color: rgb(217 249 157);
}

.form-login button{
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    background-color: rgb(26, 26, 108);
    color: rgb(170, 170, 252);
    border: 1px solid rgb(67, 67, 253);
    font-weight: bold;
    cursor: pointer;
}

.form-login .regis{
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    background-color:rgb(51 85 0 ); 
    color: rgb(190 242 100 );
    border: 1px solid rgb(190 242 100 );
    cursor: pointer;
}