* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: #ffffff; */
}

.navbar {
  background-color: #0C356A;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans;
}

.home h1{
  margin-bottom: 30px;
  font-weight: 300;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.home h2{
  margin-bottom: 200px;
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




/* CSS untuk navigasi bar */

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar li {
  display: inline-block;
  margin-left: 10px;
}

.navbar li:first-child {
  margin-left: 0;
}

.navbar li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Baltica", sans-serif;
  font-weight: bold;
}

.navbar li a:hover {
  background-color: #ddd;
}

.navbar li a.active {
  background-color: #4CAF50;
  color: white;
}

.navbar .home-link {
  margin-left: 50px;
}

.home {
  background-color: #0C356A;
  height: 60vh;
  color: #ffffff;
  }
  .footer {
    text-align: center;
    color: black;
    margin-top: 150px;
  }
  
.home .button{
  display:flex;
}
.home .button #Reservasi,
.home .button #explore{
  text-decoration: none;
  margin-left: 10px;
  color: #000000;
  padding: 14px 28px;
  background-color: #ffffff;
  border-radius: 30px;
}

.footer p {
    color: #000000;
}
