body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #164863, #427D9D, #9BBEC8);
    margin: 0px;
    padding: 20px;
}



form { 
  background-color: #DDF2FD;
  padding: 30px;
  border-radius: 0px;
  box-shadow: 10px 2px 5px rgba(64, 64, 64, 0.3);
  max-width: 750px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

label {
  font-weight: bold;
  border-radius: 10px;
  padding: 20px;
}

input[type="nama"],
input[type="Username"],
input[type="email"],
input[type="password"],
input[type="gender"]{
  border-radius: 10px;
  padding: 10px;
  width: 350px;
}
  
   h2{
    text-align: center;
   }
   #button {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  /* CSS untuk gambar dalam formulir registrasi */
  .container {
    display: flex;
}

#registrasi-image {
    width: 1500px;
    height: 400px;
    object-fit: cover;
    margin-right: 20px;
    float: left;
}

.form-container {
    float: left;
}
  /* CSS untuk navigasi bar */
  .navbar{
    margin-top: 0px;
    }
    .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
    
    .navbar li {
    display: inline-block;
    margin-left: 10px;
    }
    
    .navbar li:first-child {
    margin-left: 0;
    }
    
    .navbar li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Baltica", sans-serif;
    font-weight: bold;
    }
    
    .navbar li a:hover {
      background-color: #ddd;
    }
    
    .navbar li a.active {
      background-color: #4CAF50;
      color: white;
    }
    
    

    .navbar .home-link {
    margin-left: 50px;
    }