/* mengatur body */
body {
    margin: 0;
    padding: 10px;
    background-color: #323F43ff;
}

/* memberispasce untuk menu */
.navigasi{
    display: flex;
    justify-content: center;
}

/* mengelompokkan icon menu */
.pouch{
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 10px;
    background-color: #faebd7;
    border-radius: 10px;
    margin-top: 10px;
    position: fixed;
}

/* mengatur besar kecil img */
.pouch img{
    width: 40px;
    margin: 2px;
}

/* membuat spasce untuk konten */
.tabel{
    border: 2px solid #323F43ff;
    
}

/* membungkus konten */
.Character{
    border: 1px solid #faebd7;
    padding: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    border-radius: 10px;  
}

.Character img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.skill{
    margin: 10px;
    border: 1px dashed #faebd7;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.inputan{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2px;
    margin-bottom: 4px;
    
}

label{
    color: #faebd7;
    margin-top: 10px;
}

button{
    margin-top: 10px;
}

p{
    color: #faebd7;
}

form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2px;
    margin-bottom: 20px;
}

.judul{
    color: #faebd7;
    text-align: center;
}

h4{
    color: #faebd7;
}
.hasil{
    padding: 10px;
    margin-top: 20px;
    border: 1px dashed #faebd7;
    width: 430px;
}

.hasilskill{
    display: flex;
    flex-direction: row;
}