body{
    margin: 0;
    background-color: antiquewhite;
}

.navbar{
    padding: 10px;
    background-color: #323F43ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar h1{
    color: antiquewhite;
    margin-left: 20px;
}
.navbar div ul{
    list-style: none;
}
.navbar div ul li{
    display: inline;
    margin: 1px;
}
.credential{
    color: aquamarine;
}
.credential:hover{
    color: #323F43ff;
    background-color: aquamarine;
}
.navbar div ul li a{
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: antiquewhite;
}
.navbar div ul li a:hover{
    color: #323F43ff;
    background-color: antiquewhite;
}
.content{
    display: flex;
}
.input-stat{
    background-color: #323F43ff;
    border: 5px solid #DDD2C2;
    margin: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
}

.input-stat div{
    padding: 5px;
    margin-left: 10px;  
}

label{
    display: inline-block;
    width: 100px;
    color: antiquewhite;
}

select{
    width: 160px;
}

.skill-natasha{
    display: flex;
    width: 350px;
    border: 1px solid #DDD2C2;
    margin: 10px;
    padding: 10px;
    height: 200px;
    background-color: #323F43ff;
    align-items: flex-start;
}

.skill-natasha span{
    margin: 10px;
}

.skill-natasha label{
    display: inline-block;
}

.skill-natasha input{
    padding: 10px;
}