body {
    margin: 0;
    padding: 0;
}

.navigasi {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;
}

li{
    margin: 10px;
    display: inline;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

li a:hover {
    color: midnightblue;
}

.kontenbg {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/food-2655778_1920.jpg);
    margin-top: 0px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
    height: 89.1vh;
}

.textfg {
    display: inline-block;
    margin-top: 100px;
    color: white;
}

.divDivLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:aquamarine;
    height: 89vh;
}

.divlogin {
    border: 5px solid;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:cadetblue;
    padding: 50px;
}

label{
    display: block;
}

.logintxt {
    margin-top:  -10px;
    display: block;
    justify-content: center;
}

.loginForm {
    display: block;
    justify-content: center;
    text-align: center;
}

.divDivRegis {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:aquamarine;
    height: 89vh;
}

.divRegis {
    border: 5px solid;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:cadetblue;
    padding: 50px;
}

label{
    display: block;
}

.regisTxt {
    margin-top: -10px;
    display: block;
    justify-content: center;
}

.regis_form {
    display: block;
    justify-content: center;
    text-align: center;
}

.submit {
    margin-top: 10px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color:lightblue;
}

tr:nth-child(odd) {
    background-color:cornflowerblue;
}

tr, td {
    text-align: center;
}

caption{
    font-weight: bold;
}

.tabelMenu {
    border: 5px solid;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:cadetblue;
    padding: 35px;
}

.divPesan {
    border: 5px solid;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:cadetblue;
    padding: 50px;
    margin-top:-5px;
}

label{
    display: block;
}

.pesanTxt {
    margin-top: -10px;
    display: block;
    justify-content: center;
}

.formPesan {
    display: block;
    justify-content: center;
    text-align: center;
}

.submit {
    margin-top: 10px;
}