* {
  margin: 0;
  padding: 0;
}

body {
  height: 700px;
  display: flex;
  align-items: center;
  background-color: #1d1d1d;
  justify-content: center;
  font-family: "Montserrat";
}

.formulir {
  width: 500px;
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  justify-content: center;
  background-color: rgb(75, 75, 75);
}

.formulir h1{
  margin-bottom: 50px;
  color: #fff;
}

.formulir form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.formulir form input {
  padding: 14px;
  width: 400px;
  border-radius: 4px;
  border: none;
}

.formulir .forgot {
  margin-top: -14px;
  text-align: left;
  float: left;
  /* background-color: antiquewhite; */
  width: 427px;
  height: 14px;
  align-items: center;
  display: flex;
}
.formulir .forgot p{
  font-size: 14px;
}
.formulir button{
  margin-top: 40px;
  padding: 14px 197px;
  background-color: aqua;
  border: none;
  color: #000;
  font-weight: 600;
  border-radius: 4px;
}

.formulir button:hover{
  background-color: rgba(0, 255, 255, 0.573);
}

.formulir #form span{
  color: red;
}

.formulir p{
  margin-top: 50px;
  color: #fff;
  font-size: 14px;
}
.formulir p a{
  text-decoration: underline;
  color: #fff;
}