:root{
    --primary-color: #2447f9;
    --secondary-color: #e5e9f2;
    --third-color: #f6f8fd;
    --nonactive-color:#0b5ed7;
    --text-color:#34364a;
}

* {
    margin: 0;
    font-family: Poppins;
}

nav {
    text-align: center;
    align-items: center;
    display: flex;
    padding: 20px 80px;
    background-color: var(--third-color);
}

h1>a{
    color: var(--primary-color);
    text-decoration: none;
}

.navbar-mid {
    margin-right: auto;
}

nav>div>ul>li {
    display: inline-block;
    margin: 20px;
}

nav>div>ul>li>a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

nav>div>ul>li>a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.btnLogin{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background-color: var(--nonactive-color);
    margin-left: 20px;
}

.btnLogin:hover{
    background-color: var(--primary-color);
}


.header {
    font-size: 26px;
    text-align: center;
    padding: 50px 100px;
    /* background-color: var(--third-color); */
    background-color: red;
}

section>h1>span {
    color:
}