:root{
    --primary-color: #2447f9;
    --secondary-color: #e5e9f2;
    --third-color: #f6f8fd;
    --nonactive-color:#0b5ed7;
    --text-color:#34364a;
}

* {
    margin: 0;
    font-family: Poppins;
}

body {
    display: flex;
    flex-direction: row;
}


.loginLeft {
    background-color: var(--third-color);
    width: 50%;
    height: 100vh;
}

.Logo {
    text-align: center;
    color: var(--primary-color);
    font-size: 40px;
    margin: 50px 50px 20px 50px;
}

p {
    margin: 10px 50px;
    text-align: center;
    font-weight: 500;
}

.form {
    padding: 0px 20px 20px 20px;
    display: block;
    border-radius: 10px;
    margin: 48px 50px 30px 50px;
    background-color: var(--secondary-color);
}

/* .usernameForm {
    border: 1px solid black;
    margin-bottom: 20px;
    display: block;
} */

/* .passwordForm {
    border: 1px solid black;
    display: block;
} */

label {
    display: block;
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 10px;
    color: var(--text-color);
}

input {
    border: none;
    border-radius: 20px;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: white;
}

button {
    border: none;
    background-color: var(--nonactive-color);
    color: white;
    display: block;
    padding: 15px 0px 15px 0px;
    font-weight: 600;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    margin-top: 40px;
}

button:hover {
    background-color: var(--primary-color);
}

.Register {
    margin:0px 50px;
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
}

h4>a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: normal;
}

.loginRight {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

img {
    max-width: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
        width: 100vw;
    }
    .loginLeft {
        width: 100vw;
    }
    .loginRight{
        visibility: hidden;
        width: 0;
        height: 0;
    }
}