* {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'open Sans ',sans-serif;
}

.wrapper {
	width: 1100px;
	margin: auto;
	position: relative;
}

.logo a {
	font-size: 50px;
	font-weight: bold;
	float: left;
	font-family: Courier;
	color: #ffffff;
}

.menu {
	float: right;
}

nav {
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 50px;
	/* position: sticky; */
	/* position: -webkit-sticky; */
	/* top: 0; */
	background: rgb(50, 50, 50);
	/* padding-right: 100px; */

}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li {
	float: left;
}

nav ul li a {
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
	padding: 0px 70px 0px 70px;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

/* CSS untuk Navbar Vertikal
ul.navbar-vertical {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #333;
}

li.navbar-vertical-item {
  text-align: center;
}

li.navbar-vertical-item a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}

li.navbar-vertical-item a:hover {
  background-color: #ddd;
  color: black;
}

nav ul li a{
	
} */
.nav2 {
	width: 50%;
	margin: auto;
	display: flex;
	line-height: 50px;
	background: rgb(75, 75, 75);


}