body{
    box-sizing: border-box;
    padding: 0 ;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.navbar{
    background: rgb(255, 249, 234);
    width: 1440px;
    height: 85px;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.5)
}

.navbar > h1{
    font-size: 24px;
    font-weight: 600;
}

.nav-menu{

    display: flex;
    gap: 30px;
}

.hero-container{
    background: rgb(255, 249, 234);
    display: flex;
    height: 601px;;
    width: 1440px;
    padding: 0 10%;
}

.hero-container > div{
    width: 50%;
    align-self: center;
}

.hero-container > img{
    width: 50%;
    height: 588px;
    align-self: center;
}