body {
    /* background-image: url('./Asset/bggg.png'); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4F709C;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form input,
form select,
form textarea {
    width: 60%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;

}

form button {
    padding: 10px;
    font-size: 25px;
    background-color: #E5D283;
    color: #213555;
    border-radius: 13px;
    margin-top: 20px;
}

.Login button:hover {
    background: #E5D283;
    color: #fff;
    border-radius: 13px;
    box-shadow: 0 0 5px #E5D283,
        0 0 25px #E5D283,
        0 0 50px #E5D283,
        0 0 100px #E5D283;
    transition: 0.5s ease;
}

form label {
    display: block;
    font-size: 30px;
    margin-bottom: 5px;
}

form input {
    width: 80%;
}

.Login {
    margin-top: 10%;
    width: 30%;
    padding: 40px;
    background: #213555;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    border: 1px solid black;

}