body {
    /* background-image: url('./Asset/bggg.png'); */
    background-color: #4F709C;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu {
    display: flex;
    /* kenapa pake flex? karena parentnya pada div menu jadi contentnya akan menyesuaikan parent menjadi datar*/
    font-size: 20px;
    /* border: 1px solid black; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu ul li {
    display: inline-block;
    padding-left: 10px;
    /* margin-top: 20px; */
    border: 1px solid black;
    font-size: 14px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.menu a:hover {
    color: #E5D283;
    font-size: 16px;
    border-radius: 5px;
    /* untuk transisiton pas hover */
    transition: 0.5s ease;
    text-decoration: underline;
    cursor: pointer;
    /* pointer ini adalah menambahkan ikon tangan saat ingin klik hobvernya */
}

/* bagian ini untuk jika kita memencet salah satu menunya maka akan tetap berwarna */
#dash {
    color: #E5D283;
    font-size: 16px;
}

#pengeluaran {
    color: #E5D283;
    font-size: 16px;
}

#catatanpribadi {
    color: #E5D283;
    font-size: 16px;
}

.menu li {
    margin-right: 30px;
}

.menu ul {
    margin-right: 300px;
    border: 1px solid black;
    flex-grow: 1;

}

.menu h2 {
    margin-left: 100px;
    margin-right: 280px;
    font-size: 25px;
    border: 1px solid black;
    /* margin-top: 35px; */
}

.menu img {
    width: 80px;
    height: 80px;
    margin-top: 5px;
    border: 1px solid black;
    margin-right: 100px;
}

.signup {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 35px;
}

.dashboard img {
    border: 1px solid black;
    max-width: 50%;
    margin-right: 15%;
}

.dash {
    border: 1px solid black;
    margin-left: 15%;
    width: 30%;
    text-align: justify;
}

.dash h2 {
    font-size: 50px;
}

.dash p {
    font-size: 14px;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pengeluaran {
    margin: auto;
    border: 1px solid black;
    width: 70%;
    text-align: center;
    margin-top: 50px;
}

.catatanpribadi {
    margin: auto;
    border: 1px solid black;
    width: 70%;
    text-align: center;
    margin-top: 50px;
}

.pengeluaran label {
    text-align: start;
    margin-left: 200px;
}

.catatanpribadi label {
    text-align: start;
    margin-left: 200px;
}

form .kotak_input {
    margin-bottom: 20px;
}

form label {
    display: block;
    font-size: 30px;
    margin-bottom: 5px;
}

form .kotak_input select {
    width: 61.5%;
    padding: 10px;
    font-size: 30px;
}

form input,
form select,
form textarea {
    width: 60%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

form button {
    padding: 10px;
    font-size: 25px;
    background-color: #E5D283;
    color: #213555;
    border-radius: 13px;
    margin-top: 20px;
}

.pengeluaran button:hover {
    background: #E5D283;
    color: #fff;
    border-radius: 13px;
    box-shadow: 0 0 5px #E5D283,
        0 0 25px #E5D283,
        0 0 50px #E5D283,
        0 0 100px #E5D283;
    transition: 0.5s ease;
}

.catatanpribadi button:hover {
    background: #E5D283;
    color: #fff;
    border-radius: 13px;
    box-shadow: 0 0 5px #E5D283,
        0 0 25px #E5D283,
        0 0 50px #E5D283,
        0 0 100px #E5D283;
    transition: 0.5s ease;
}

.history h3 {
    font-size: 35px;
}

hr {
    background-color: #000;
    height: 2px;
}

footer {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    margin-top: 40 px;
}