body {
    background-image: url('./Asset/bggg.png');
    color: #213555;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu ul li {
    display: inline-block;
    padding-left: 10px;
    margin-top: 20px;
    border: 1px solid black;

}

.menu a {
    text-decoration: none;
    color: #213555;
}

.menu a:hover {
    color: #E5D283;
    font-size: 25px;
    /* untuk transisiton pas hover */
    transition: 0.5s ease;
}

.menu li {
    padding-right: 30px;
}

.menu ul {
    padding-right: 300px;
    border: 1px solid black;

}

.menu {
    display: flex;
    /* kenapa pake flex? karena parentnya pada div menu jadi contentnya akan menyesuaikan parent menjadi datar*/
    margin-top: 0px;
    font-size: 20px;
    border: 1px solid black;
}

.menu h2 {
    padding-left: 100px;
    padding-right: 200px;
    font-size: 25px;
    border: 1px solid black;
    margin-top: 35px;
}

.menu img {
    width: 80px;
    height: 80px;
    margin-top: 5px;
    border: 1px solid black;
}

.signup {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 35px;
}

.dashboard img {
    padding-left: 15%;
    border: 1px solid black;

}

.dash h2 {
    margin-top: 20px;
    text-align: center;
}

.dashboard {
    display: flex;
}

.dashboard p {
    margin-left: 20%;
    font-size: 20px;
    border: 1px solid black;
    width: 30%;
    text-align: justify;
}

.pengeluaran {
    margin: auto;
    border: 1px solid black;
    width: 70%;
    text-align: center;
}

.pengeluaran label {
    text-align: start;
    margin-left: 200px;
}

form .kotak_input {
    margin-bottom: 20px;
}

form label {
    display: block;
    font-size: 30px;
    margin-bottom: 5px;
}

form .kotak_input select {
    width: 61.5%;
    padding: 10px;
    font-size: 30px;
}

form input,
form select,
form textarea {
    width: 60%;
    padding: 10px;
    font-size: 20px;
}

form button {
    padding: 10px;
    font-size: 25px;
    background-color: #E5D283;
    color: #213555;
    border-radius: 13px;
    margin-top: 20px;
}

.pengeluaran button:hover {
    background: #E5D283;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #E5D283,
        0 0 25px #E5D283,
        0 0 50px #E5D283,
        0 0 100px #E5D283;
    transition: 0.5s ease;
}

.daftarPengeluaran h3 {
    font-size: 35px;
}

hr {
    background-color: #000;
    height: 2px;
}

footer {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    margin-top: 40 px;
}