*,
html,
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* .container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: lightcyan;
} */

/* Navbar */
.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 5%;
    background-color: black;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* .menu-wrapper a {
    display: block;
    margin-left: 3px;
} */

.navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    color: red;
}

.navbar-brand span {
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > a {
    color: white;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    text-transform: capitalize;
}

/* Hover Navbar Bagian Tengah */
.navbar > a:hover {
    color: crimson;
    transition: all, .3s ease-in-out;
    -webkit-transition: all, .3s ease-in-out;
    -moz-transition: all, .3s ease-in-out;
    -ms-transition: all, .3s ease-in-out;
    -o-transition: all, .3s ease-in-out;
}

.navbar > a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid crimson;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: 0.2s linear     ;
    -webkit-transition: 0.2s linear     ;
    -moz-transition: 0.2s linear     ;
    -ms-transition: 0.2s linear     ;
    -o-transition: 0.2s linear     ;
}

.navbar > a:hover::after {
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
    -moz-transform: scaleX(0.5);
    -ms-transform: scaleX(0.5);
    -o-transform: scaleX(0.5);
}

.right-nav > a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

/* Hover Navbar Bagian Kanan */
.right-nav > a:hover {
    color: crimson;
    transition: all, .3s ease-in-out;
    -webkit-transition: all, .3s ease-in-out;
    -moz-transition: all, .3s ease-in-out;
    -ms-transition: all, .3s ease-in-out;
    -o-transition: all, .3s ease-in-out;
}

/* Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(bg-web2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 3em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content p {
    color: #fff;
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: red;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

