* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

body {
    height: 100rem;
}

/* triger */
.triger {
    background-color: white;
    display: none;
}

/* navbar */
.navbar {
    border-bottom: 1px solid black;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: relative;
    z-index: 2;
}

.navbar .nav-logo {
    height: 5rem;
    display: flex;
    align-items: center;
    margin-left: 5rem;
}

.navbar .nav-logo a {
    font-size: large;
    transition: 0.2s ease-in-out;
}

.navbar .nav-logo a:hover {
    color: gray;
}

.navbar .nav-menu { 
    padding-left: 4rem;
    display: flex;
    align-items: center;
}

.navbar .nav-menu .nav-button-tugas {
    padding: 1.3rem;
}

.navbar .nav-menu .nav-button-tugas a {
    transition: 0.2s ease-in-out;
}

.navbar .nav-menu .nav-button-tugas a:hover {
    color: gray;
}

.navbar .nav-menu .nav-button-jadwal {
    padding: 1.3rem;
}

.navbar .nav-menu .nav-button-jadwal a {
    transition: 0.2s ease-in-out;
}

.navbar .nav-menu .nav-button-jadwal a:hover {
    color: gray;
}

.navbar .nav-button-tentang{
    padding: 1.3rem;
    margin-right: 5rem;
    transition: 0.4s ease-in-out;
}

.navbar .nav-button-tentang:hover {
    background-color: black;
}

.navbar .nav-button-tentang:hover a{
    color: white;
}

/* mobile menu */
.hamburger {
    display: none;
}

/* SIDE BAR */
.side-bar {
    margin-bottom: 1rem;
    margin-top: -11.3rem;
    border-bottom: 1px solid black;
    padding: 1.5rem 0rem 2rem 2.4rem;
    transition: 0.4s ease-in-out;
    position: relative;
    z-index: 1;
}

.side-bar .sidebar-in ul {
    list-style-type: none;
}

.side-bar .sidebar-in a:hover {
    color: grey;
}

.side-bar .sidebar-in .nav-button-tugas {
    margin-bottom: 0.7em;
}

.side-bar .sidebar-in .nav-button-jadwal {
    margin-bottom: 0.7em;
}

/* tugas */
.tugas {
    margin-top: 0.8rem;
    height: 100vh;
}

.tugas .head-tugas {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7rem;
}

.tugas .table-tugas {
    margin-top: 2.5rem;
    margin-bottom: 1.7rem;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    border: 7px solid black;
    height: 70vh;
}

.tugas .table-tugas .baris-table-tugas {
    background-color: rgb(204, 200, 200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 3.2rem;
    padding: 1rem 2rem;
}

.tugas .button-tugas {
    display: flex;
    justify-content: space-between;
    margin: 0 6rem;
}


.tugas .button-tugas .button-edit-tugas {
    padding: 1rem 3.5rem;
    align-items: center;
    background-color: black;
    border: 5px solid black;
    transition: 0.4s ease-in-out;
    box-shadow: 5px 6px 6px 1px rgb(165, 161, 161);
}

.tugas .button-tugas .button-edit-tugas a {
    color: white;
}

.tugas .button-tugas .button-edit-tugas:hover a{
    color: black;
}

.tugas .button-tugas .button-edit-tugas:hover{
    border-radius: 2rem;
    background-color: white;
}



.tugas .button-tugas .button-reference {
    padding: 1rem 8rem;
    background-color: black;
    border: 5px solid black;
    transition: 0.4s ease-in-out;
    box-shadow: -5px 6px 6px 1px rgb(165, 161, 161);
}

.tugas .button-tugas .button-reference a {
    color: white;
}

.tugas .button-tugas .button-reference:hover a{
    color: black;
}

.tugas .button-tugas .button-reference:hover {
    border-radius: 2rem;
    background-color: white;
}

/* Jadwal  */
.jadwal {
    margin-top: 0.8rem;
}

.jadwal .heading-jadwal {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 6.7rem;
}

.jadwal .heading-jadwal .clock {
    margin-left: 2rem;
}

.jadwal .hari {
    border: 7px solid black;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    padding: 1rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.jadwal .hari:hover {
    background-color: black;
}

.jadwal .hari:hover h3 {
    color: white;
}

.jadwal .hari .edit-hari {
    color: white;
}

.jadwal .jumlah-matkul {
    margin-bottom: 3rem;
}

.jadwal .matkul {
    background-color: rgb(204, 200, 200);
    padding: 1rem 2rem;
    margin: 0 6rem;
    display: flex;
    justify-content: space-between;
}

/* tentang */
.tentang {
    padding-top: 6rem;
    margin-top: 0.8rem;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.tentang p{
    margin-top: 5rem;
}

.tentang h1 {
    margin-top: 7rem;
}

.tentang .par-forU {
    font-size: 2rem;
}

/* footer */
.footer {
    border-top: 1px solid;
    margin-top: 5rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9rem;
}

.footer .email h3{
    text-align: center;
}

.footer .social h3{
    text-align: center;
}

@media (max-width: 768px) {
    .nav .nav-menu {
        display: none;
    }
    
    .nav-menu .nav-button-jadwal {
        display: none;
    }

    .nav-menu .nav-button-tugas {
        display: none;
    }

    .navbar .nav-button-tentang {
        display: none;
    }

    .nav-button-logout {
        margin-top: 0.5rem;
    }
    
    .hamburger {
        display: block;
        margin-right: 4rem;
        height: 3rem;
        padding-top: 2rem;
    }

    .hamburger .bar{
        background-color: black;
        margin: 2px;
        padding: 0px 0px 3.7px 22px;
        cursor: pointer;
    }   
    
    #check:checked ~ .side-bar {
        margin: 0;
        display: block;
    }

    .tugas .button-tugas .button-reference {
        padding: 1rem 4rem;
    }

    .tentang {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .footer {
        padding: 0 2rem 0 2rem;
    }

    .footer .email p {
        font-size: 13px;
    }

    .footer .email h3{
        font-size: 13px;
    }
    
    .footer .social p {
        font-size: 13px;
    }

    .footer .social h3 {
        font-size: 13px;
    }

    .footer .copy p {
        font-size: 13px;
    }
}

